/******** ELEMENT SELECTORS ********/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  text-align: center;
}
h1 {
  border-bottom: 1px solid #eeeeee;
  font-weight: 500;
  font-size: 4rem;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  letter-spacing: .25rem;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0;
}
h4 {
  margin-block-start: 2.5rem;
  margin-block-end: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
}
p {
  line-height: 2;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #0096aa;
  font-weight: bold;
  text-decoration: none;
}
canvas {
  background: white;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
}
/******** CLASS SELECTORS ********/

/*** NAVBAR ***/
/* hamburger icon */
.hamburger-container {
  background-color: #0096aa;
  border-radius: 5px;
  padding: 8px;
  position: fixed;              /* Make it stick/fixed */
  left: 24px;
  top: -50px;                   /* Hide the navbar 50 px outside of the top view */
  cursor: pointer;
  transition: top 0.3s;         /* Transition effect when sliding down (and up) */
  z-index: 3;                   /* Appear above the rest */
}
.hamburger-bar1, .hamburger-bar2, .hamburger-bar3 {
  width: 25px;
  height: 3px;
  background-color: #eeeeee;
  margin: 4px 0;
  transition: 0.5s;
}
/* Animations for the hamburger icon */
.change .hamburger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}
.change .hamburger-bar2 {
  opacity: 0;
}
.change .hamburger-bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/* navbar icon */
.navbar-icon {
  border-radius: 5px;
  font-size: 25px;
  padding: 8px 12px 10px;
  position: fixed;              /* Make it stick/fixed */
  left: 24px;
  top: -60px;                   /* Hide the navbar 50 px outside of the top view */
  cursor: pointer;
  transition: top 0.3s;         /* Transition effect when sliding down (and up) */
  transition: background-color 0.8s ease; /* Transition effect when changing colour */
  z-index: 3;                   /* Appear above the rest */
}
.navbar-icon-red{
  background-color: #0096aa;
  color: #eeeeee;
}
.navbar-icon-grey{
  background-color: #3a4750;
  color: #0096aa;
}
/* If the screen size is small:*/
@media screen and (max-width: 756px) {
  .navbar-icon {
    display: none;
  }
}
/* Navbar itself */
.navbar {
  width: 0;         /* 0 width - change this with JavaScript */
  position: fixed;  /* Stay in place */
  z-index: 2;       /* Stay on top */
  top: 0;           /* Stay at the top */
  left: 0;
  background-color: #3a4750;
  overflow-x: hidden;   /* Disable horizontal scroll */
  transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.navbar a {
  text-decoration: none;
  font-size: 25px;
  color: #eeeeee;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  color: #0096aa;
}
/* If the screen size is large:*/
@media screen and (min-width: 757px) {
  .navbar {
    width: 100%;  /* 100% Full-width */
    top: -80px;   /* Keep off the screen - will be shown by the javascript */
  }
  .navbar a {
    float: right;
    padding: 20px;
  }
}
/* If the screen size is small:*/
@media screen and (max-width: 756px) {
  .navbar {
    width: 0;           /* 0 width - change this with JavaScript */
    height: 100%;       /* 100% Full-height */
    padding-top: 60px;  /* Place content 60px from the top */
  }
  .navbar a {
    float: left;
    padding: 8px 8px 8px 32px;
  }
}

/** CONTAINERS **/
.hero-container {
  background-attachment: fixed;
  background-color: #303841;
  background-image:url(../images/McLarenGrey.png);
  background-position: 50% 0;
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
  position: relative;
  height: 50vh;
}
.hero-container.fullheight{
  height: 100vh;
}
.nameplate-container {
  color: #eeeeee;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.title-container {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 75%;
}
.page-container-odd {
  background-color: #3a4750;
  color: #eeeeee;
  position: relative;
}
.page-container-odd a{
  color: #eeeeee;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #0096aa;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 6px;
}
.page-container-odd a:hover {
  background-color: #0096aa;
  color: #eeeeee;
}
.page-container-even {
  background-color: #eeeeee;
  color: #3a4750;
  position: relative;
}
.page-container-even a{
  color: #3a4750;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #0096aa;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 6px;
}
.page-container-even a:hover {
  background-color: #0096aa;
  color: #eeeeee;
}
.footer-container {
  background-color: #3a4750;
  font-size: 0.75rem;
  color: #eeeeee;
}
.footer-container-light {
  background-color: #eeeeee;
  font-size: 0.75rem;
  color: #3a4750;
}


/** OTHER CLASSES **/

.gradientbackground{
  background-image: linear-gradient(rgba(58,71,80,0.7), rgba(58,71,80,0.1));
  border-radius: 10px;
}

.fade-in{
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.fade-in.appear{
  opacity: 1;
}

/* If the screen size is large:*/
@media screen and (min-width: 757px) {
  .top-nameplate {
    font-size: 8rem;
  }
  .icon-container-odd {
    float: left;
  }
  .icon-container-even {
    float: right;
  }
}
/* If the screen size is small:*/
@media screen and (max-width: 756px) {
  h1 {
    font-size: 2.5rem;
  }
  .icon-container-odd {
    margin: auto;
  }
  .icon-container-even {
    margin: auto;
  }
}

.top-header {
  font-size: 1.75rem;
  font-weight: normal;
  padding: 0;
}
.profile-pic {
  margin: 150px auto 0;
}
.text-center-container{
  display: inline-block;
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
  width: 80%;
}

/** ROWS **/
.row {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.icon-container-odd {
  min-width: 280px;
  width: 25%;
}
.icon-container-even {
  min-width: 280px;
  width: 25%;
}
.image-center {
  min-width: 280px;
  width: 75%;
}
.icon {
  border-radius: 25%;
  margin: 20px;
  width: 240px;
}
.details-container {
  display: inline-block;
  padding: 0 20px;
  text-align: justify;
  width: 75%;
}
.details-container.narrow {
  max-width: 480px;
}

/** FOOTER **/
.footer-link {
  color: #eeeeee;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto 5rem;
}
.footer-link-light {
  color: #3a4750;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto 5rem;
}
.email-link {
  color: #0096aa;
  font-size: 1rem;
  text-decoration: underline;
}
.footer-text {
  font-size: 1rem;
  margin: 0 auto 1.5rem;
}