body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}
p {
  line-height: 2;
  max-width: 460px;
  margin: 0 auto;
}
hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #eeeeee;
  width: 5%;
}
.top-container {
  background-color: #303841;
  color: #eeeeee;
  position: relative;
}
.profile-container {
  background-color: #3a4750;
  color: #eeeeee;
  position: relative;
  padding-bottom: 2rem;
}
.experience-container {
  background-color: #eeeeee;
  color: #3a4750;
  padding-bottom: 0;
  position: relative;
}
.education-container {
  background-color: #3a4750;
  color: #eeeeee;
  position: relative;
}
.bottom-container {
  background-color: #eeeeee;
  padding: 0 0 40px;
  font-size: 0.75rem;
  color: #3a4750;
}
.nameplate-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.top-img {
  width: 100%;
}
/* If the screen size is large:*/
@media screen and (min-width: 601px) {
  .top-nameplate {
    font-size: 5.265rem;
  }
  .top-header {
    font-size: 1.75rem;
  }
}
/* If the screen size is small:*/
@media screen and (max-width: 600px) {
  .top-nameplate {
    font-size: 2rem;
  }
  .top-header {
    font-size: 1rem;
  }
}
.top-nameplate {
  border-bottom: 1px solid #eeeeee;
  font-weight: 900;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
}
.top-header {
  font-weight: normal;
  padding: 0;
}
.profile-pic {
  margin: 100px auto 0;
}
.row {
  margin: 50px auto 0;
  max-width: 800px;
  padding-bottom: 50px;
}
.icon-container-odd {
  margin: 20px;
  float: left;
}
.icon-container-even {
  margin: 20px;
  float: right;
}
.icon {
  border-radius: 25%;
  width: 200px;
}
.details {
  display: inline-block;
  max-width: 400px;
  text-align: left;
}
.footer-link {
  color: #3a4750;
  font-size: 1.25rem;
  padding: 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #d72323;
  font-weight: bold;
}
.footer-text {
  font-size: 1rem;
  margin: 0 auto 40px;
}