body {
  margin: 0px;
  text-align: center;
}
.top-container {
  background-color: #303841;
  width: 100%;
}
.middle-container {
  color: #eeeeee;
  padding-top: 100px;
}
.bottom-container {
  background-color: #00adb5;
  padding: 40px;
  font-size: 0.75rem;
  color: #eeeeee;
}
.top-img {
    width: 100%;
}
.footer-link {
  color: #eeeeee;
  font-size: 1rem;
  padding: 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #ff5722;
}
