/******** ELEMENT SELECTORS ********/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  text-align: center;
}
h1 {
  border-bottom: 1px solid #eeeeee;
  font-weight: 500;
  font-size: 4rem;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0;
}
h4 {
  margin-block-start: 2.5rem;
  margin-block-end: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
}
p {
  line-height: 2;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #d72323;
  font-weight: bold;
  text-decoration: none;
}
/******** CLASS SELECTORS ********/
/** NAVBAR **/
.menu-container {
  background-color: #d72323;
  border-radius: 5px;
  padding: 8px;
  position: fixed;              /* Make it stick/fixed */
  left: 24px;
  top: -50px;                   /* Hide the navbar 50 px outside of the top view */
  cursor: pointer;
  transition: top 0.3s;         /* Transition effect when sliding down (and up) */
  z-index: 3;                   /* Appear above the rest */
}
.menu-bar1, .menu-bar2, .menu-bar3 {
  width: 25px;
  height: 3px;
  background-color: #eeeeee;
  margin: 4px 0;
  transition: 0.5s;
}
/* Animations for the hamburger icon */
.change .menu-bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}
.change .menu-bar2 {
  opacity: 0;
}
.change .menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/* Navbar itself */
.navbar {
  height: 100%;     /* 100% Full-height */
  width: 0;         /* 0 width - change this with JavaScript */
  position: fixed;  /* Stay in place */
  z-index: 2;       /* Stay on top */
  top: 0;           /* Stay at the top */
  left: 0;
  background-color: #3a4750;
  overflow-x: hidden;   /* Disable horizontal scroll */
  padding-top: 60px;    /* Place content 60px from the top */
  transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #eeeeee;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  color: #d72323;
}
/** CONTAINERS **/
.hero-container {
  background-attachment: fixed;
  background-color: #303841;
  background-image:url(../images/McLarenGrey.png);
  background-position: 50% 0;
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
  position: relative;
  height: 50vh;
}
.hero-container.fullheight{
  height: 100vh;
}
.nameplate-container {
  color: #eeeeee;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.page-container-odd {
  background-color: #3a4750;
  color: #eeeeee;
  position: relative;
}
.page-container-even {
  background-color: #eeeeee;
  color: #3a4750;
  position: relative;
}
.footer-container {
  background-color: #3a4750;
  font-size: 0.75rem;
  color: #eeeeee;
}


/** OTHER CLASSES **/

.fade-in{
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.fade-in.appear{
  opacity: 1;
}

/* If the screen size is large:*/
@media screen and (min-width: 757px) {
  .top-nameplate {
    font-size: 8rem;
  }
  .icon-container-odd {
    float: left;
  }
  .icon-container-even {
    float: right;
  }
}
/* If the screen size is small:*/
@media screen and (max-width: 756px) {
  h1 {
    font-size: 2rem;
  }
  .top-nameplate {
    font-size: 6rem;
  }
  .icon-container-odd {
    margin: auto;
  }
  .icon-container-even {
    margin: auto;
  }
}

.top-header {
  font-size: 1.75rem;
  font-weight: normal;
  padding: 0;
}
.profile-pic {
  margin: 150px auto 0;
}
.text-center-container{
  display: inline-block;
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
  width: 80%;
}
/** ROWS **/
.row {
  margin: 0 auto;
  max-width: 740px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.icon-container-odd {
  min-width: 280px;
  width: 25%;
}
.icon-container-even {
  min-width: 280px;
  width: 25%;
}
.icon {
  border-radius: 25%;
  margin: 20px;
  width: 240px;
}
.details-container {
  display: inline-block;
  padding: 0 20px;
  text-align: justify;
  width: 75%;
}
.details-container.narrow {
  max-width: 420px;
}
/** FOOTER **/
.footer-link {
  color: #eeeeee;
  font-size: 1.25rem;
  padding: 20px;
}
.email-link {
  color: #d72323;
  font-size: 1rem;
  text-decoration: underline;
}
.footer-text {
  font-size: 1rem;
  margin: 0 auto 1.5rem;
}